.card-with-animated-border {
    position: relative;
    border-radius: 31px; 
    z-index: 1;
  }
  
  .card-with-animated-border::before {
    content: '';
    position: absolute;
    top: -2px; 
    left: -2px; 
    right: -2px; 
    bottom: -2px; 
    border-radius: 31px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #00FFFF, transparent) 0 0 / 200% 200%;
    z-index: -1; 
    animation: borderRun 8s linear infinite;
  }
  
  @keyframes borderRun {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 200% 0%;
    }
  }
  